*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.blanket{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 9;
    display: none;
}

.container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.projects-container{
    flex: 1;
    position: relative; 
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
}

.projects-container h1{
    text-align: center;
    letter-spacing: 3px;
    color: white;
    font-size: 3rem;
    margin-bottom: 1em;
}

.projects-container #new-project{
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0.5em;
    font-size: 1.5rem;
    height: 10%;
}

.projects-container div{
    text-align: center;
    font-size: 1.6rem;
    border: none;
    border-bottom: rgb(202, 202, 202) 1px solid;
    margin: 0 1.5em;
    padding: 1.2em 0;
}

.projects-container #projects{
    margin: 0;
    padding: 1.5em;
    background-color: #4864e6;

}

.project-name{
    position: relative;
}

.project-name .delete-project{
    border: none;
    background: transparent;
    color: rgb(214, 79, 79);
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    padding: 0 0.5em;
    font-weight: bold;
    font-size: 1.5rem;
}

#actual-projects{
    cursor: pointer;
}

[data-project-title]{
    position: relative;
}

[data-project-title] span{
    color: hsl(190, 69%, 90%);
    text-shadow: 2px 2px 2px rgb(39, 39, 39);
    font-size: 3rem;
}

.to-do-items{
    flex: 2;
    max-width: 66.6%;
}

.to-do-items h1{
    padding: 1.4em;
    letter-spacing: 3px;
    font-size: 2.5rem;
}

.to-do-items .todo-head{
    display: flex;
    background-color: #4864e6;
    position: relative;
    justify-content: start;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
}

.to-do-items .todo-head button {
    border: none;
    background: hsl(240, 100%, 98%);
    position: absolute;
    bottom: 10%;
    right: 5%;
    padding: 0.5em 0.7em;
    font-size: 1.2rem;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.to-do-items .todo-head button:hover{
    background: hsl(190, 100%, 79%);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    transition: all 0.5s ease;
}

.to-do-items .todo-body{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: hsl(190, 100%, 79%);
    color: rgb(41, 41, 41);
    margin-bottom: 0.5em;
}

.to-do-items .todo-body div{
    padding: 1.5em 1em;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    flex: 2 2 0;
    text-align: center;
    font-size: 1.4em;
}

.to-do-items .todo-body div:last-child{
    flex: 1;
}

.items > div{
    display: flex;
    position: relative;
    background: hsl(240, 100%, 98%);
    margin: 1em 0;
}

.items > .completed:after{
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    width: 87%;
    display: block;
    outline: 1px solid #4864e6;
}



.items .completed{
    color: rgba(121, 121, 121, 0.5);
    transition: right 2s linear;

}

.items .completed .edit{
    transform: scale(1.4);
    transition: transform 0.3s ease;

}

.items > div > div{
    flex: 2 2 0;
    padding: 1em;
    font-size: 1.2rem;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
}

.items > div > div:last-child{
    flex: 1;
}


.my-form{
    display: flex;
    flex-direction: column;
    top: 20%;
    width: 25%;

}

#project-form{
    flex-direction: row;
    width: 100%;
    padding: 1em 0;
}

#project-form input{
    font-size: 1.2rem;
    padding: 0 0.4em;
}

.my-form h2{
    padding: 1.5em;
    border-bottom: #f1f1f1 2px solid;
    color: #4864e6;
}

.my-form label, #items-form p{
    padding: 1em;
    font-size: 1.3rem;
}

.my-form input{
    flex: 4;
    border: none;
    border-bottom: 2px solid #f1f1f1;
    background-color: transparent;
}

.my-form input:focus{
    outline: none;
}

#items-form input:focus{
    background-color: #ddd;
    outline: none;
}

.my-form div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5em;
}

.my-form .submit, .my-form .submit-items{
    border: none;
    background-color: #226f54;
    padding: 0.9em;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 1em;
    cursor: pointer;
}

.my-form .cancel, .my-form .cancel-items{
    border: none;
    background-color: rgb(141, 33, 33);
    padding: 0.9em;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
}

.my-form .submit:hover{
    background-color: #4864e6;
}

.my-form .cancel:hover{
    background-color: rgb(219, 50, 50);
}

#items-form{
    height: 95vh;
    top: 1em;
    width: 40%;
    display: none;
    position: absolute;
    border: #f1f1f1 2px solid;
    z-index: 10;
    background-color: #ffffff;
}

#items-form input{
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    border: none;
    background-color: #f1f1f1;
    font-size: 1.1em;
}

#items-form .radio-buttons{
    margin: 0;
    font-size: 1.2rem;
}

#items-form div{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;   
}

#items-form div button{
    width: 40%;
}

#actual-projects{
    border: none;
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
}

.active-project{
    transform: scale(1.1);
    background-color: #4864e6;
    color: white;
    font-weight: bold;
}

.edit-remove-container{
    justify-content: space-around;
}

.edit-remove-container .edit, .edit-remove-container .remove{
    outline: none;
    cursor: pointer;
    border: none;
    background-color: hsl(240, 100%, 98%);
    width: 40%;
    font-size: 1.4em;
}

.edit-remove-container .remove{
    color: rgb(214, 79, 79);
    font-weight: bold;
    font-size: 1.2em;
}

.edit-remove-container .edit span{
    background: url(./img/edit.png);
    background-size: contain;
}

.edit{
    transition: all 0.5s ease;

}

.task desc{
    max-height: 20vh;
}